In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
diagnostics = pd.read_csv('./data/VehicleDiagnosticOnboardData.csv', header = None)
codes = pd.read_excel('./data/Service_Fault_Codes_1_0_0_167.xlsx')
faults = pd.read_csv('./data/J1939Faults.csv', header = None)

C:\Users\jnske\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
columns1 = ['RecordID', 'Name', 'Value', 'FaultID']
diagnostics.columns = columns1
# diagnostics = diagnostics.drop('Index', axis = 1)

In [4]:
diagnostics.head()

   RecordID                  Name     Value  FaultID
0         1             IgnStatus     False        1
1         2     EngineOilPressure         0        1
2         3  EngineOilTemperature  96.74375        1
3         4    TurboBoostPressure         0        1
4         5            EngineLoad        11        1

In [5]:
codes.head()

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,High signal voltage detected at the engine tim...
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,Low voltage detected at the engine timing actu...
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,The ECM has detected that the primary and back...

In [6]:
columns2 = ['FaultID', 'ESS_ID', 'eventTimeStamp', 'eventDescription', 'actionDescription', 'ecuSoftwareVersion', 
            'ecuSerialNumber', 'ecuModel', 'ecuMake', 'ecuSource', 'SPN', 'FMI', 'Active', 'activeTransitionCount', 
            'faultValue', 'EquipmentID', 'MCTNumber', 'Latitude', 'Longitude', 'locationTimeStamp']
faults.columns = columns2
faults.head()

,FaultID,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,FMI,Active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,locationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [7]:
faults.ecuMake.value_counts()

CMMNS              409642
unknown            294542
PACCR              225482
BNDWS               63873
PCAR                18964
VOLVO                7252
EATON                6474
?????                 686
????S                 526
????R                 327
?MMNS                 270
?CAR                  151
?ACCR                  39
?NDWS                  15
?????MX                 6
?????MX16U13D13         4
??MNS                   3
???R                    1
Name: ecuMake, dtype: int64

In [8]:
faults.loc[faults['ecuMake'].isin(['PCAR', '????R',
                                 '?CAR', '?ACCR', '???R']), 'ecuMake']="PACCR"
faults.loc[faults['ecuMake'].isin(['?MMNS', '??MNS']), 'ecuMake']="CMMNS"
faults.loc[faults['ecuMake']=='?NDWS', 'ecuMake']="BNDWS"

In [9]:
faults['EquipmentID'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
faults['EquipmentID']=faults['EquipmentID'].astype(float)
faults['EquipmentID']=faults['EquipmentID'].astype(int)

In [10]:
faults=faults.loc[(faults["ecuMake"]=="CMMNS"),:]

In [11]:
joined_df = faults.set_index('FaultID').join(diagnostics.pivot(
    index = 'FaultID', 
    columns = 'Name', 
    values = 'Value')).reset_index().set_index('FaultID')

In [12]:
codes['Lamp Device'].value_counts()

Warning            4972
Stop / Shutdown     880
None                871
Maintenance         401
Name: Lamp Device, dtype: int64

In [13]:
codes_subset = codes[['SPN', 'J1939 FMI', 'Lamp Device', 'Cummins Description']]

In [14]:
codes_subset.columns = ['SPN', 'FMI', 'Lamp Device', 'Cummins Description']

In [15]:
codes_subset['Cummins Description'].isna().sum()

0

In [16]:
codes_subset['combo_code'] = 0
codes_subset['combo_code'] = codes_subset['SPN'].map(str) + codes_subset['FMI'].map(str)
codes_subset.head()

C:\Users\jnske\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jnske\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,SPN,FMI,Lamp Device,Cummins Description,combo_code
0,629,12,Stop / Shutdown,Engine Control Module Critical Internal Failur...,62912
1,635,7,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,6357
2,635,3,Warning,Engine Timing Actuator Driver Circuit - Voltag...,6353
3,635,4,Warning,Engine Timing Actuator Driver Circuit - Voltag...,6354
4,612,2,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,6122

In [20]:
maintenance = joined_df.loc[((joined_df['Latitude'] == 36.0666667) & (joined_df['Longitude'] == -86.4347222)) | 
                                ((joined_df['Latitude'] == 35.5883333) & (joined_df['Longitude'] == -86.4438888)) | 
                                ((joined_df['Latitude'] == 36.1950) & (joined_df['Longitude'] == -83.174722))]
maintenance.shape

(19, 43)

In [21]:
joined_df.head()

,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultID,,,,,,,,,,,,,,,,,,,,,
6,990431,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,...,NaN,True,111.2,1023,NaN,NaN,13.6022,3276.75,NaN,6.67
8,990441,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,111,...,NaN,True,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
9,990442,2015-02-21 11:40:22.000,High (Severity Low) Water In Fuel Indicator,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,97,...,NaN,True,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
10,990446,2015-02-21 11:41:55.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,...,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
11,990459,2015-02-21 11:42:19.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,111,...,NaN,True,78.8,1023,NaN,NaN,64.82649,3276.75,NaN,17.69

In [22]:
joined_df['EquipmentID'].value_counts()

1814         10260
1816          8018
1601          7064
1592          6831
1815          6355
1803          6336
1809          6098
1600          5668
1603          5579
1589          5481
1559          5326
1808          5287
1804          5222
1562          5209
1818          5041
1820          4880
1806          4798
1554          4375
1573          4202
1594          4122
1563          3857
1812          3812
1569          3804
1556          3785
1564          3178
1811          3163
1805          3095
1819          3084
1590          3057
1577          3043
             ...
105399896        2
2049             2
2069             2
2198             2
1430             2
1426             2
1354             2
2224             1
105363528        1
105355995        1
105311799        1
105349656        1
105411467        1
1428             1
2197             1
105337895        1
1672             1
1548             1
105411463        1
105322231        1
105349500        1
105340140        1
1451             1
105311862        1
2230             1
105416494        1
1338             1
105438645        1
2193             1
105410383        1
Name: EquipmentID, Length: 870, dtype: int64

In [23]:
# codes.columns.values

In [24]:
# codes_subset = codes[['SPN', 'J1939 FMI', 'Lamp Device', 'Cummins Description']]

In [25]:
# codes_subset.head()

In [26]:
# codes_subset.columns = ['SPN', 'FMI', 'Lamp Device', 'Cummins Description']

In [27]:
# codes_subset['Cummins Description'].isna().sum()

In [28]:
# codes_subset['combo_code'] = 0
# codes_subset['combo_code'] = codes_subset['SPN'].map(str) + codes_subset['FMI'].map(str)
# codes_subset.head()

In [29]:
# codes_subset['combo_code'].value_counts()

In [30]:
# codes_subset.loc[codes_subset['combo_code']=='52428631']

In [31]:
# joined_df['combo_code'] = 0
# joined_df['combo_code'] = joined_df['SPN'].map(str) + joined_df['FMI'].map(str)
# joined_df.head()

In [32]:
# joined_df.shape

In [33]:
# joined_cummins = pd.merge(joined_df, codes_subset, on = ['combo_code'], how = 'inner')

In [34]:
# joined_cummins.head()

In [35]:
# joined_cummins.shape

In [36]:
derated = joined_df.loc[((joined_df['SPN'] == 5246) & (joined_df.FMI == 0)) | ((joined_df['SPN'] == 5246) & (joined_df['FMI'] == 15)) | 
              ((joined_df['SPN'] == 5246) & (joined_df['FMI'] == 16)) | ((joined_df['SPN'] == 1569)),:]
derated.head()

,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultID,,,,,,,,,,,,,,,,,,,,,
41,990856,2015-02-21 12:06:22.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,...,32,True,51.8,18431,False,NaN,51.97187,3276.75,0,0.58
46,990931,2015-02-21 12:10:51.000,NaN,NaN,04993120*00027849*082113134117*07700053*I0*BBZ*,79464664,6X1u10D1500000000,CMMNS,0,5246,...,NaN,True,NaN,22527,NaN,NaN,NaN,NaN,NaN,NaN
250,993542,2015-02-21 15:01:49.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,...,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN
291,994045,2015-02-21 15:35:45.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,...,32,True,91.4,18431,False,NaN,40.73865,3276.75,0,15.66
307,994237,2015-02-21 15:51:58.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,...,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
derated.shape

(9223, 43)

In [38]:
joined_df['derated'] = 0

In [39]:
joined_df.loc[((joined_df['SPN'] == 5246) & (joined_df.FMI == 0)) | ((joined_df['SPN'] == 5246) & (joined_df['FMI'] == 15)) | 
              ((joined_df['SPN'] == 5246) & (joined_df['FMI'] == 16)) | ((joined_df['SPN'] == 1569)), 'derated'] = 1

In [40]:
joined_df.shape

(409915, 44)

In [41]:
joined_df['combo_code'] = 0
joined_df['combo_code'] = joined_df['SPN'].map(str) + '/' + joined_df['FMI'].map(str)
joined_df.head()

,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,...,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,derated,combo_code
FaultID,,,,,,,,,,,,,,,,,,,,,
6,990431,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,...,111.2,1023,NaN,NaN,13.6022,3276.75,NaN,6.67,0,111/17
8,990441,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,111,...,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN,0,111/17
9,990442,2015-02-21 11:40:22.000,High (Severity Low) Water In Fuel Indicator,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,97,...,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN,0,97/15
10,990446,2015-02-21 11:41:55.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,...,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN,0,111/17
11,990459,2015-02-21 11:42:19.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,111,...,78.8,1023,NaN,NaN,64.82649,3276.75,NaN,17.69,0,111/17

In [42]:
not_maintenance = joined_df.loc[~(joined_df['combo_code'].isin(maintenance))]

In [43]:
not_maintenance.combo_code.value_counts()

111/17      283294
111/18       24135
97/15        13436
1569/31       8694
97/3          5514
1761/17       3621
111/3         3374
3464/7        2669
641/9         2216
3226/20       1984
4364/18       1590
3216/20       1401
630/12        1283
2623/4        1179
91/4          1169
3610/2        1136
3251/16       1133
3216/4        1086
157/18        1029
96/3          1027
5742/9         988
5848/4         985
3251/2         983
5743/9         948
4339/7         943
111/1          905
3362/31        891
96/9           888
641/11         873
411/2          831
             ...
4331/18          2
255/2            2
32000/0          2
3327/16          2
6713/13          2
3521/18          2
3490/4           2
65535/3          2
3583/4           2
5743/11          2
38/9             2
5491/3           2
1322/11          1
4752/7           1
3556/1           1
65535/17         1
2629/2           1
190/11           1
3241/2           1
4094/18          1
4813/3           1
5745/2           1
1326/11          1
4334/1           1
3245/4           1
3226/12          1
3245/2           1
677/3            1
84/19            1
1328/11          1
Name: combo_code, Length: 402, dtype: int64

In [53]:
# removing codes for low coolant
final_df = not_maintenance.loc[((not_maintenance['combo_code'] != '111/17') & (not_maintenance['combo_code'] != '111/18'))]
final_df.combo_code.value_counts()

97/15       13436
1569/31      8694
97/3         5514
1761/17      3621
111/3        3374
3464/7       2669
641/9        2216
3226/20      1984
4364/18      1590
3216/20      1401
630/12       1283
2623/4       1179
91/4         1169
3610/2       1136
3251/16      1133
3216/4       1086
157/18       1029
96/3         1027
5742/9        988
5848/4        985
3251/2        983
5743/9        948
4339/7        943
111/1         905
3362/31       891
96/9          888
641/11        873
411/2         831
3058/16       819
5848/9        768
            ...
1081/9          2
2791/6          2
255/2           2
2659/16         2
4375/4          2
3364/18         2
3583/4          2
6713/13         2
188/16          2
5394/3          2
5394/17         2
32000/0         2
4094/18         1
4334/1          1
3245/2          1
4813/3          1
190/11          1
5745/2          1
3245/4          1
1326/11         1
84/19           1
1322/11         1
4752/7          1
1328/11         1
3241/2          1
677/3           1
65535/17        1
2629/2          1
3556/1          1
3226/12         1
Name: combo_code, Length: 400, dtype: int64

In [55]:
final_df.shape

(102486, 45)

In [54]:
final_df.isnull().sum()

ESS_ID                            0
eventTimeStamp                    0
eventDescription              15377
actionDescription            102486
ecuSoftwareVersion               37
ecuSerialNumber                   0
ecuModel                          0
ecuMake                           0
ecuSource                         0
SPN                               0
FMI                               0
Active                            0
activeTransitionCount             0
faultValue                   102486
EquipmentID                       0
MCTNumber                         0
Latitude                          0
Longitude                         0
locationTimeStamp                 0
AcceleratorPedal              55990
BarometricPressure            52382
CruiseControlActive           52639
CruiseControlSetSpeed         52103
DistanceLtd                   52289
EngineCoolantTemperature      52358
EngineLoad                    52574
EngineOilPressure             52349
EngineOilTemperature          53076
EngineRpm                     52097
EngineTimeLtd                 52859
FuelLevel                     57105
FuelLtd                       52677
FuelRate                      52642
FuelTemperature               79783
IgnStatus                     50350
IntakeManifoldTemperature     52314
LampStatus                        0
ParkingBrake                  63070
ServiceDistance              102456
Speed                         53175
SwitchedBatteryVoltage        97556
Throttle                      64471
TurboBoostPressure            53377
derated                           0
combo_code                        0
dtype: int64

In [58]:
final_df = final_df.drop(['actionDescription', 'faultValue', 'ServiceDistance'], axis = 1)

In [59]:
derated.EquipmentID.value_counts()

1490         408
1505         270
1790         206
1692         169
1480         165
1607         164
105344451    156
1670         156
1636         156
1888         146
1473         128
1645         128
1580         126
1383         126
1395         125
1587         109
1417         107
1711         107
1591         104
1564         100
1577          95
1494          92
1818          91
1573          84
1778          83
1608          82
1966          73
1730          70
1853          70
1787          64
            ...
1610           2
1514           2
1994           2
1370           2
2017           2
1985           2
1945           2
1625           2
1713           2
1832           2
1914           2
2120           2
2002           2
2027           2
2019           2
1872           2
1995           2
1907           2
1859           2
1699           2
1651           2
1435           2
1944           2
105360462      2
1976           2
307            2
2015           2
105338352      1
105359197      1
1927           1
Name: EquipmentID, Length: 444, dtype: int64

In [60]:
# joined_df.EquipmentID = joined_df.EquipmentID.astype(int)
worst_truck = joined_df.loc[joined_df.EquipmentID == 1490]

In [61]:
worst_truck.shape

(883, 45)

In [62]:
worst_truck.head()

,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,...,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,derated,combo_code
FaultID,,,,,,,,,,,,,,,,,,,,,
2866,1024457,2015-02-23 14:43:04.000,NaN,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,4334,...,95,17407,NaN,NaN,66.97216,3276.75,NaN,17.11,0,4334/18
4010,1045409,2015-02-24 11:20:30.000,NaN,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,4334,...,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN,0,4334/18
4362,1050117,2015-02-24 14:52:39.000,NaN,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,4334,...,93.2,17407,NaN,NaN,67.07896,3276.75,NaN,15.66,0,4334/18
5490,1067152,2015-02-25 11:27:39.000,NaN,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,4334,...,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN,0,4334/18
40490,2204533,2015-05-01 15:18:01.000,NaN,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,4334,...,113,17407,NaN,NaN,60.72932,3276.75,NaN,13.63,0,4334/18

In [63]:
worst_truck.isnull().sum()

ESS_ID                         0
eventTimeStamp                 0
eventDescription             314
actionDescription            883
ecuSoftwareVersion             0
ecuSerialNumber                0
ecuModel                       0
ecuMake                        0
ecuSource                      0
SPN                            0
FMI                            0
Active                         0
activeTransitionCount          0
faultValue                   883
EquipmentID                    0
MCTNumber                      0
Latitude                       0
Longitude                      0
locationTimeStamp              0
AcceleratorPedal             445
BarometricPressure           445
CruiseControlActive          445
CruiseControlSetSpeed        445
DistanceLtd                  445
EngineCoolantTemperature     445
EngineLoad                   445
EngineOilPressure            445
EngineOilTemperature         446
EngineRpm                    445
EngineTimeLtd                445
FuelLevel                    446
FuelLtd                      446
FuelRate                     445
FuelTemperature              883
IgnStatus                    444
IntakeManifoldTemperature    445
LampStatus                     0
ParkingBrake                 882
ServiceDistance              883
Speed                        446
SwitchedBatteryVoltage       823
Throttle                     883
TurboBoostPressure           464
derated                        0
combo_code                     0
dtype: int64

In [64]:
worst_truck.columns

Index(['ESS_ID', 'eventTimeStamp', 'eventDescription', 'actionDescription',
       'ecuSoftwareVersion', 'ecuSerialNumber', 'ecuModel', 'ecuMake',
       'ecuSource', 'SPN', 'FMI', 'Active', 'activeTransitionCount',
       'faultValue', 'EquipmentID', 'MCTNumber', 'Latitude', 'Longitude',
       'locationTimeStamp', 'AcceleratorPedal', 'BarometricPressure',
       'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd',
       'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure',
       'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLevel',
       'FuelLtd', 'FuelRate', 'FuelTemperature', 'IgnStatus',
       'IntakeManifoldTemperature', 'LampStatus', 'ParkingBrake',
       'ServiceDistance', 'Speed', 'SwitchedBatteryVoltage', 'Throttle',
       'TurboBoostPressure', 'derated', 'combo_code'],
      dtype='object')

In [66]:
worst_truck.loc[worst_truck['combo_code'] == '1569/31']

,ESS_ID,eventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,SPN,...,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,derated,combo_code
FaultID,,,,,,,,,,,,,,,,,,,,,
106496,3244863,2015-07-01 07:01:31.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,107.6,18431,NaN,NaN,65.07893,3276.75,NaN,11.02,1,1569/31
106618,3246845,2015-07-01 08:27:16.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
114263,3355732,2015-07-08 11:09:22.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,123.8,18431,NaN,NaN,61.02059,3276.75,NaN,27.84,1,1569/31
114266,3355773,2015-07-08 11:11:31.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
114347,3357136,2015-07-08 12:11:10.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,131,18431,NaN,NaN,53.82628,3276.75,NaN,26.1,1,1569/31
114356,3357274,2015-07-08 12:17:06.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
114417,3358524,2015-07-08 13:09:55.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,116.6,18431,NaN,NaN,68.27316,3276.75,NaN,31.03,1,1569/31
114420,3358569,2015-07-08 13:12:05.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
114494,3359526,2015-07-08 13:41:58.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,141.8,18431,NaN,NaN,33.56376,3276.75,NaN,27.84,1,1569/31
114581,3360825,2015-07-08 14:45:11.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
135212,3655393,2015-07-24 09:49:38.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,102.2,18431,NaN,NaN,75.37038,3276.75,NaN,2.32,1,1569/31
136077,3667259,2015-07-24 20:20:16.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,5119,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
262321,5517903,2015-10-31 17:30:25.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,91.4,18431,NaN,NaN,12.77695,3276.75,NaN,0.87,1,1569/31
262484,5520499,2015-11-01 06:14:30.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
274020,5714472,2015-11-11 11:11:14.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,95,18431,NaN,NaN,64.60319,NaN,NaN,4.06,1,1569/31
274024,5714562,2015-11-11 11:15:20.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
275351,5735453,2015-11-12 09:28:47.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,73.4,18431,NaN,NaN,68.29258,NaN,NaN,1.16,1,1569/31
275352,5735496,2015-11-12 09:30:55.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
275411,5736647,2015-11-12 09:59:59.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,104,18431,NaN,NaN,65.17601,NaN,NaN,18.27,1,1569/31
275472,5737445,2015-11-12 10:38:50.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
277153,5766511,2015-11-13 14:00:59.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,86,18431,NaN,NaN,61.63226,NaN,NaN,0.87,1,1569/31
277159,5766597,2015-11-13 14:06:03.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
277211,5767587,2015-11-13 14:50:03.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,141.8,18431,NaN,NaN,2.844715,NaN,NaN,1.16,1,1569/31
277214,5767691,2015-11-13 14:55:08.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
277235,5768466,2015-11-13 15:10:15.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,105.8,18431,NaN,NaN,64.13716,NaN,NaN,17.11,1,1569/31
277563,5774145,2015-11-14 04:40:06.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
277987,5779610,2015-11-14 11:51:19.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,98.6,18431,NaN,NaN,61.75847,NaN,NaN,1.45,1,1569/31
277993,5779661,2015-11-14 11:55:20.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
278032,5780207,2015-11-14 12:13:43.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,104,18431,NaN,NaN,65.18572,NaN,NaN,9.86,1,1569/31
278035,5780246,2015-11-14 12:36:41.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448434,8637509,2016-04-15 09:10:44.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,95,18431,NaN,NaN,58.01083,NaN,NaN,0.87,1,1569/31
448579,8640225,2016-04-15 11:04:41.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463347,8914851,2016-04-29 12:56:01.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,78.8,18431,NaN,NaN,30.3501,NaN,NaN,9.86,1,1569/31
463351,8914881,2016-04-29 12:58:11.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463499,8918397,2016-04-29 15:36:54.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,100.4,18431,NaN,NaN,64.15658,NaN,NaN,9.86,1,1569/31
463503,8918423,2016-04-29 15:39:03.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463589,8920473,2016-04-29 17:19:35.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,102.2,18431,NaN,NaN,65.12746,NaN,NaN,7.54,1,1569/31
463591,8920528,2016-04-29 17:24:35.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463610,8921081,2016-04-29 17:27:04.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,104,18431,NaN,NaN,65.10805,NaN,NaN,10.73,1,1569/31
463769,8925056,2016-04-30 04:42:12.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463773,8925098,2016-04-30 04:46:38.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,93.2,18431,NaN,NaN,60.71962,NaN,NaN,30.45,1,1569/31
463865,8926970,2016-04-30 07:38:41.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
463868,8927014,2016-04-30 07:41:47.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,114.8,18431,NaN,NaN,58.55453,NaN,NaN,31.9,1,1569/31
464006,8929945,2016-04-30 11:03:56.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
464986,8947848,2016-05-02 05:25:20.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,80.6,18431,NaN,NaN,58.67103,NaN,NaN,11.31,1,1569/31
464996,8947928,2016-05-02 05:32:26.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
465019,8948445,2016-05-02 06:15:03.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,68,18431,NaN,NaN,38.08811,NaN,NaN,0.58,1,1569/31
465027,8948539,2016-05-02 06:22:10.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
466283,8976257,2016-05-03 08:16:59.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,91.4,18431,NaN,NaN,1.669935,NaN,NaN,3.77,1,1569/31
466286,8976275,2016-05-03 10:21:11.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
471554,9093602,2016-05-09 13:28:12.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,140,18431,NaN,NaN,0,NaN,NaN,1.45,1,1569/31
471556,9093629,2016-05-09 14:28:52.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
476005,9195830,2016-05-14 10:39:42.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,131,18431,NaN,NaN,64.96242,NaN,NaN,20.01,1,1569/31
476006,9195850,2016-05-14 10:41:49.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
476141,9198668,2016-05-14 14:31:14.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,118.4,18431,NaN,NaN,64.73911,NaN,NaN,13.63,1,1569/31
476143,9198683,2016-05-14 14:33:31.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
501575,9768486,2016-06-14 09:39:10.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,127.4,18431,NaN,NaN,61.45749,NaN,NaN,25.81,1,1569/31
501638,9770136,2016-06-14 10:42:59.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31
501641,9770236,2016-06-14 10:46:10.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,147.2,18431,NaN,NaN,41.79692,NaN,NaN,21.46,1,1569/31
502825,9801327,2016-06-15 15:36:00.000,Condition Exists Engine Protection Torque Derate,NaN,04993120*00063662*040213150018*07700044*I0*BBZ*,79488009,6X1u10D1500000000,CMMNS,0,1569,...,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,1,1569/31

In [52]:
features = worst_truck.loc[:, ['Latitude', 'Longitude',
       'locationTimeStamp', 'AcceleratorPedal', 'BarometricPressure',
       'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd',
       'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure',
       'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLevel',
       'FuelLtd', 'FuelRate', 'FuelTemperature', 'IgnStatus',
       'IntakeManifoldTemperature', 'LampStatus', 'ParkingBrake',
       'ServiceDistance', 'Speed', 'SwitchedBatteryVoltage', 'Throttle',
       'TurboBoostPressure', 'derated']]
labels = ['Latitude', 'Longitude',
       'locationTimeStamp', 'AcceleratorPedal', 'BarometricPressure',
       'CruiseControlActive', 'CruiseControlSetSpeed', 'DistanceLtd',
       'EngineCoolantTemperature', 'EngineLoad', 'EngineOilPressure',
       'EngineOilTemperature', 'EngineRpm', 'EngineTimeLtd', 'FuelLevel',
       'FuelLtd', 'FuelRate', 'FuelTemperature', 'IgnStatus',
       'IntakeManifoldTemperature', 'LampStatus', 'ParkingBrake',
       'ServiceDistance', 'Speed', 'SwitchedBatteryVoltage', 'Throttle',
       'TurboBoostPressure', 'derated']
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

ValueError: Found input variables with inconsistent numbers of samples: [883, 28]