In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading data
faults_columns=["FaultId", "ESS_Id", "EventTimeStamp", "eventDescription",
         "actionDescription", "ecuSoftwareVersion", "ecuSerialNumber",
        'ecuModel', "ecuMake", "ecuSource", "spn", "fmi", "active",
         "activeTransitionCount", "faultValue", "EquipmentID", 
         "MCTNumber", "Latitude", "Longitude","LocationTimeStamp"]
diagnostics_columns= ['record_Id', 'Name', 'Value', 'FaultId']

faults = pd.read_csv('./data/J1939Faults.csv',
                           names=faults_columns, low_memory=False)
diagnostics = pd.read_csv('./data/VehicleDiagnosticOnboardData.csv', names=diagnostics_columns)
service =pd.read_excel('./data/Service Fault Codes_1_0_0_167.xlsx')

In [3]:
faults.head()

,FaultId,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [4]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085683 entries, 0 to 1085682
Data columns (total 20 columns):
FaultId                  1085683 non-null int64
ESS_Id                   1085683 non-null int64
EventTimeStamp           1085683 non-null object
eventDescription         1028656 non-null object
actionDescription        0 non-null float64
ecuSoftwareVersion       846515 non-null object
ecuSerialNumber          801882 non-null object
ecuModel                 1028257 non-null object
ecuMake                  1028257 non-null object
ecuSource                1085683 non-null int64
spn                      1085683 non-null int64
fmi                      1085683 non-null int64
active                   1085683 non-null bool
activeTransitionCount    1085683 non-null int64
faultValue               0 non-null float64
EquipmentID              1085683 non-null object
MCTNumber                1085683 non-null int64
Latitude                 1085683 non-null float64
Longitude                1085683 non-null float64
LocationTimeStamp        1085683 non-null object
dtypes: bool(1), float64(4), int64(7), object(8)
memory usage: 158.4+ MB

In [5]:
#faults.EquipmentID = faults.EquipmentID.astype(int)
faults.EquipmentID = pd.to_numeric(faults.EquipmentID, errors='coerce')

In [6]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085683 entries, 0 to 1085682
Data columns (total 20 columns):
FaultId                  1085683 non-null int64
ESS_Id                   1085683 non-null int64
EventTimeStamp           1085683 non-null object
eventDescription         1028656 non-null object
actionDescription        0 non-null float64
ecuSoftwareVersion       846515 non-null object
ecuSerialNumber          801882 non-null object
ecuModel                 1028257 non-null object
ecuMake                  1028257 non-null object
ecuSource                1085683 non-null int64
spn                      1085683 non-null int64
fmi                      1085683 non-null int64
active                   1085683 non-null bool
activeTransitionCount    1085683 non-null int64
faultValue               0 non-null float64
EquipmentID              1085660 non-null float64
MCTNumber                1085683 non-null int64
Latitude                 1085683 non-null float64
Longitude                1085683 non-null float64
LocationTimeStamp        1085683 non-null object
dtypes: bool(1), float64(5), int64(7), object(7)
memory usage: 158.4+ MB

In [7]:
diagnostics.head()

   record_Id                  Name     Value  FaultId
0          1             IgnStatus     False        1
1          2     EngineOilPressure         0        1
2          3  EngineOilTemperature  96.74375        1
3          4    TurboBoostPressure         0        1
4          5            EngineLoad        11        1

In [8]:
diagnostics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11687087 entries, 0 to 11687086
Data columns (total 4 columns):
record_Id    int64
Name         object
Value        object
FaultId      int64
dtypes: int64(2), object(2)
memory usage: 356.7+ MB

In [9]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085683 entries, 0 to 1085682
Data columns (total 20 columns):
FaultId                  1085683 non-null int64
ESS_Id                   1085683 non-null int64
EventTimeStamp           1085683 non-null object
eventDescription         1028656 non-null object
actionDescription        0 non-null float64
ecuSoftwareVersion       846515 non-null object
ecuSerialNumber          801882 non-null object
ecuModel                 1028257 non-null object
ecuMake                  1028257 non-null object
ecuSource                1085683 non-null int64
spn                      1085683 non-null int64
fmi                      1085683 non-null int64
active                   1085683 non-null bool
activeTransitionCount    1085683 non-null int64
faultValue               0 non-null float64
EquipmentID              1085660 non-null float64
MCTNumber                1085683 non-null int64
Latitude                 1085683 non-null float64
Longitude                1085683 non-null float64
LocationTimeStamp        1085683 non-null object
dtypes: bool(1), float64(5), int64(7), object(7)
memory usage: 158.4+ MB

In [10]:
service.head()

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,High signal voltage detected at the engine tim...
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,Low voltage detected at the engine timing actu...
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,The ECM has detected that the primary and back...

In [11]:
service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7124 entries, 0 to 7123
Data columns (total 14 columns):
Published in CES 14602    7124 non-null object
Cummins Fault Code        7124 non-null int64
Revision                  7124 non-null int64
PID                       7124 non-null object
SID                       7124 non-null object
MID                       7124 non-null object
J1587 FMI                 7124 non-null int64
SPN                       7124 non-null int64
J1939 FMI                 7124 non-null int64
J2012 Pcode               7124 non-null object
Lamp Color                7124 non-null object
Lamp Device               7124 non-null object
Cummins Description       7124 non-null object
Algorithm Description     2005 non-null object
dtypes: int64(5), object(9)
memory usage: 779.3+ KB

In [12]:
faults['ecuMake'].value_counts()

CMMNS              409642
unknown            294542
PACCR              225482
BNDWS               63873
PCAR                18964
VOLVO                7252
EATON                6474
?????                 686
????S                 526
????R                 327
?MMNS                 270
?CAR                  151
?ACCR                  39
?NDWS                  15
?????MX                 6
?????MX16U13D13         4
??MNS                   3
???R                    1
Name: ecuMake, dtype: int64

In [13]:
faults['ecuModel'].value_counts()

unknown                 294542
CECU3B-NAMUX4           226099
6X1u10D1500000000       216230
6X1u13D1500000000       189886
EC60-adv                 47717
MX                       16362
EC80ESP                  16171
0USA13_13_0415_2238A      7252
6X1u17D1500000000         4418
FAOM-xx810S-EC3           3688
EEO-xxF112C               2774
MX16U13D13                2754
CE                         242
EC80ESP+                    42
6L u13D0890000000           28
CECU3-NAMUX3                20
Gen 4 Boot Loader           12
Y044053                      4
6U13D13                      4
20412511P07                  4
EC80ESP AM000036             3
________Y043718              2
EC80ESP AM000038             2
0USA10_13_0405_2237A         1
Name: ecuModel, dtype: int64

In [14]:
faults['ecuModel'].nunique()

24

In [15]:
faults.loc[faults['ecuMake'].isin(['PCAR', '????R',
                                 '?CAR', '?ACCR', '???R']), 'ecuMake']="PACCR"
faults.loc[faults['ecuMake'].isin(['?MMNS', '??MNS']), 'ecuMake']="CMMNS"
faults.loc[faults['ecuMake']=='?NDWS', 'ecuMake']="BNDWS"

In [16]:
faults['ecuMake'].value_counts()

CMMNS              409915
unknown            294542
PACCR              244964
BNDWS               63888
VOLVO                7252
EATON                6474
?????                 686
????S                 526
?????MX                 6
?????MX16U13D13         4
Name: ecuMake, dtype: int64

In [17]:
merged = faults.set_index('FaultId').join(diagnostics.pivot(
    index = 'FaultId', 
    columns = 'Name', 
    values = 'Value')).reset_index().set_index('FaultId')

In [18]:
#merged2=pd.merge(diagnostic,fault,on="FaultId",how="inner")

In [19]:
merged.head()

,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultId,,,,,,,,,,,,,,,,,,,,,
1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,...,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,...,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,...,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
merged.shape

(1085683, 43)

### Find derated trucks

In [31]:
derated = merged[((merged['spn'] == 1569) & (merged['fmi'] == 31)) |
                 ((merged['spn'] == 5246) & (merged['fmi'] == 0)) |
                 ((merged['spn'] == 5246) & (merged['fmi'] == 15)) |
                 ((merged['spn'] == 5246) & (merged['fmi'] == 16))]

derated.head(1)
#print(fullderate.head(2))
#print(partialderate.head(2))
#print(warnings.head(2))

,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultId,,,,,,,,,,,,,,,,,,,,,
41,990856,2015-02-21 12:06:22.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,...,32,True,51.8,18431,False,NaN,51.97187,3276.75,0,0.58

In [33]:
derated.shape

(11207, 43)

In [35]:
derated=derated.drop_duplicates(subset=['EquipmentID', 'EventTimeStamp'], keep="first")
#derated.head()

In [36]:
derated["ecuMake"].value_counts()

CMMNS      9155
unknown    1614
????S        19
Name: ecuMake, dtype: int64

In [ ]:
#ID = pd.to_numeric(ID, errors='coerce')
merged_cm = merged[merged['ecuMake'] == 'CMMNS']
merged_cm['EquipmentID'].value_counts()
#merged_cm.EquipmentID = pd.to_numeric(merged.EquipmentID, errors='coerce').fillna(0).astype(np.int64)

In [37]:
derated_cm = derated[derated['ecuMake'] == 'CMMNS']
derated_cm['EquipmentID'].value_counts()

1490.0         407
1505.0         270
1790.0         206
1692.0         169
1480.0         165
1607.0         164
1636.0         156
105344451.0    156
1670.0         154
1888.0         146
1473.0         128
1645.0         128
1580.0         126
1383.0         124
1395.0         124
1587.0         109
1417.0         107
1711.0         107
1591.0         104
1564.0          99
1577.0          95
1494.0          92
1818.0          90
1778.0          83
1573.0          83
1608.0          82
1966.0          73
1730.0          70
1853.0          70
1787.0          64
              ...
1514.0           2
2209.0           2
1900.0           2
1985.0           2
2120.0           2
1914.0           2
1859.0           2
1423.0           2
1824.0           2
307.0            2
1714.0           2
1465.0           2
1632.0           2
1621.0           2
1898.0           2
2012.0           2
1907.0           2
1335.0           2
1740.0           2
1869.0           2
1980.0           2
1994.0           2
1893.0           2
1435.0           2
105411041.0      1
1927.0           1
105360462.0      1
105359197.0      1
105338352.0      1
1944.0           1
Name: EquipmentID, Length: 444, dtype: int64

### create partial and full derate data type

In [38]:
partialderate = merged[(merged['spn'] == 1569) & (merged['fmi'] == 31)]
fullderate = merged[(merged['spn'] == 5246) & (merged['fmi'] == 0)]
warnings = merged[((merged['spn'] == 5246) & (merged['fmi'] == 15)) |
                 ((merged['spn'] == 5246) & (merged['fmi'] == 16))]

In [39]:
fullderate.shape

(701, 43)

In [41]:
partialderate.shape

(10245, 43)

In [42]:
warnings.shape

(261, 43)